.wrapper {
  display:grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
  ;
  background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg);
}
.navbar{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #5F9EA0;
}

.header {
  grid-area: header;
}

.main-container{
  grid-area:main;
   display: flex;
   flex-direction: column;
   color: black;
   text-align: center;
   padding-left: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   opacity: 0;
   animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-image{
  margin-top: 1px;
  padding-right: 5px;
  width: 50%;
  opacity: 100%;
  align:center;
}
.about-me{
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 20px;
}
.title{
  padding-left: 90px;
  padding-top: 220px;
  font-size: 20pt;
  
}

footer {
  grid-area:footer;
  text-align: center;
  background-color: #5F9EA0;
  color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
  width: 100%;
}